html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fefaf2;
    font-family: Merriweather, serif;
    color: #333;
}


.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 10;
    transition: width 0.3s ease; 
}

.sidebar .box {
    padding: 10px;
    margin: 10px;
    background-color: #444;
    color: white;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar .box:hover {
    background-color: #555;
	color: white;
}

.sidebar a {
    text-decoration: none;
}


.topbar {
    background-color: #30aabc;
	color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 5;
}

.topbar .box {
    display: inline-block;
    margin: 0 15px;
    padding: 10px;
    background-color: #444;
    color: white;
    border-radius: 5px;
}

.main-container {
    margin-left: 250px; 
    padding: 20px;
}


.flexbox {
    background-color: powderblue;
    flex: 1;
    padding: 12%;
    border: 10px solid #ccc;
    border-radius: 10px;
    text-align: center;
    min-height: 10%;
    width: 70%;
    margin-left: 20%;
    overflow: auto;
    white-space: nowrap;
}


@media (max-width: 768px) {
    .sidebar {
        width: 200px; 
    }

    .main-container {
        margin-left: 0; 
        padding: 10px;
    }

    .flexbox {
        width: 100%;
        margin-left: 0;
        padding: 5%;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 100%; 
        position: relative;
    }

    .topbar .box {
        display: block;
        margin: 10px 0;
    }

    .flexbox {
        width: 100%;
        margin-left: 0;
        padding: 5%;
    }
}
